.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.container{
    background: #000;
    width: 50%;
    border-radius: 10px;
}
.password{
    color: white;
    text-align: center;
}
.output-container{
    text-align: center;
    padding-bottom: 10px;
}
.output-container input{
    width: 75%;
    height: 40px;
    border-radius: 10px;
    color: orangered;
    font-size: large;
    font-weight: 600;
    outline: none;
}

.input-parameters{
    display: flex;
    padding-bottom: 10px;
}
.range-output{
    color: orangered;
    padding-left: 10%;
}

.number-label{
    color: orangered;
    padding-left: 15%;
}
.char-label{
    color: orangered;
    padding-left: 15%;
}